@import "tailwindcss";

body {
    background-color: oklch(0.21 0.006 285.885);
}

.responsive-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.responsive-columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .responsive-columns {
        width: 1003%;
    }
}

@media (min-width: 768px) {
    .responsive-columns {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .responsive-columns {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .responsive-columns {
        width: 33.3%;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark track */
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #4b5563; /* Gray thumb */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Lighter gray on hover */
}
